{
	"debugOffers":[{
		"name":"main_sku",
		"sku":"test_premium_v1_trial_7d_yearly",
		"type":"subs",
		"price":"$99.00"
	},
	{
		"name":"onetime_offer_sku",
		"sku":"test_premium_v1_trial_7d",
		"type":"inapp",
		"price":"$9.99"
	},
	{
		"name":"onetime_offer_strikethrough_sku",
		"sku":"test_premium_v1_trial_7d_yearly",
		"type":"subs",
		"price":"$99.00"
	}]
}